<!-- DEMO START -->
<nz-row [nzGutter]="6">
  <nz-col [nzSpan]="8">
    <p>
      <button (click)="draggable = !draggable" nz-button nzType="default">
        toggle [ngDraggable]
      </button>
    </p>
    <p>
      <button
        (click)="position = position ? undefined : { x: 50, y: 50 }"
        nz-button
        nzType="default">
        set [position]
      </button>
    </p>
    <p>
      <button (click)="useHandle = !useHandle" nz-button nzType="default">toggle [handle]</button>
    </p>
    <p>
      <button (click)="zIndex = '1000'" nz-button nzType="default">set [zIndex] to 1000</button>
    </p>
    <p>
      <button (click)="zIndexMoving = '99999'" nz-button nzType="default">
        set [zIndexMoving] to 99999
      </button>
    </p>
    <p>
      <button (click)="preventDefaultEvent = !preventDefaultEvent" nz-button nzType="default">
        toggle [preventDefaultEvent]
      </button>
    </p>
    <p>
      <button (click)="trackPosition = !trackPosition" nz-button nzType="default">
        toggle [trackPosition]
      </button>
    </p>
    <p>
      <button (click)="lockAxis = lockAxis ? undefined : 'y'" nz-button nzType="default">
        toggle [lockAxis]='y'
      </button>
    </p>
  </nz-col>
  <nz-col [nzSpan]="16">
    <div [ngSwitch]="useHandle">
      <div
        *ngSwitchCase="true"
        [handle]="myHandle"
        [ngDraggable]="draggable"
        [position]="position"
        [zIndex]="zIndex"
        [zIndexMoving]="zIndexMoving"
        [preventDefaultEvent]="preventDefaultEvent"
        [trackPosition]="trackPosition"
        [lockAxis]="lockAxis"
        class="drag-block-lg">
        <div #myHandle class="drag-block-handle">#myHandle</div>
        <p>[handle]="myHandle"</p>
        <p>[ngDraggable] = {{ draggable }}</p>
        <p>[position] = {{ position === undefined ? 'undefined' : (position | json) }}</p>
        <p>[zIndex] = {{ zIndex === undefined ? 'undefined' : zIndex }}</p>
        <p>[zIndexMoving] = {{ zIndexMoving === undefined ? 'undefined' : zIndexMoving }}</p>
        <p>[preventDefaultEvent] = {{ preventDefaultEvent }}</p>
        <p>[trackPosition] = {{ trackPosition }}</p>
        <p>[lockAxis] = {{ lockAxis === undefined ? 'undefined' : lockAxis }}</p>
        Drag Me!
      </div>
      <div
        *ngSwitchCase="false"
        [ngDraggable]="draggable"
        [position]="position"
        [zIndex]="zIndex"
        [zIndexMoving]="zIndexMoving"
        [preventDefaultEvent]="preventDefaultEvent"
        [trackPosition]="trackPosition"
        [lockAxis]="lockAxis"
        class="drag-block-lg">
        <p>[ngDraggable] = {{ draggable }}</p>
        <p>[position] = {{ position === undefined ? 'undefined' : (position | json) }}</p>
        <p>[zIndex] = {{ zIndex === undefined ? 'undefined' : zIndex }}</p>
        <p>[zIndexMoving] = {{ zIndexMoving === undefined ? 'undefined' : zIndexMoving }}</p>
        <p>[preventDefaultEvent] = {{ preventDefaultEvent }}</p>
        <p>[trackPosition] = {{ trackPosition }}</p>
        <p>[lockAxis] = {{ lockAxis === undefined ? 'undefined' : lockAxis }}</p>
        Drag Me!
      </div>
    </div>
  </nz-col>
</nz-row>
<!-- DEMO END -->

<app-code-block [html]="html" [component]="component"></app-code-block>
