<!-- DEMO START -->
<div nz-row [nzGutter]="[16, 16]">
  <div nz-col [nzSpan]="6">
    <button (click)="draggable = !draggable" nz-button nzType="default">
      toggle [ngDraggable]
    </button>
  </div>
  <div nz-col [nzSpan]="6">
    <button (click)="position = position ? undefined : { x: 50, y: 50 }" nz-button nzType="default">
      set [position]
    </button>
  </div>
  <div nz-col [nzSpan]="6">
    <button (click)="useHandle = !useHandle" nz-button nzType="default">toggle [handle]</button>
  </div>
  <div nz-col [nzSpan]="6">
    <button (click)="zIndex = '1000'" nz-button nzType="default">set [zIndex] to 1000</button>
  </div>
  <div nz-col [nzSpan]="6">
    <button (click)="zIndexMoving = '99999'" nz-button nzType="default">
      set [zIndexMoving] to 99999
    </button>
  </div>
  <div nz-col [nzSpan]="6">
    <button (click)="preventDefaultEvent = !preventDefaultEvent" nz-button nzType="default">
      toggle [preventDefaultEvent]
    </button>
  </div>
  <div nz-col [nzSpan]="6">
    <button (click)="trackPosition = !trackPosition" nz-button nzType="default">
      toggle [trackPosition]
    </button>
  </div>
  <div nz-col [nzSpan]="6">
    <button (click)="lockAxis = lockAxis ? undefined : 'y'" nz-button nzType="default">
      toggle [lockAxis]='y'
    </button>
  </div>
</div>
<nz-divider></nz-divider>
<div [ngSwitch]="useHandle">
  <div
    *ngSwitchCase="true"
    [handle]="myHandle"
    [ngDraggable]="draggable"
    [position]="position"
    [zIndex]="zIndex"
    [zIndexMoving]="zIndexMoving"
    [preventDefaultEvent]="preventDefaultEvent"
    [trackPosition]="trackPosition"
    [lockAxis]="lockAxis"
    class="drag-block-lg">
    <div #myHandle class="drag-block-handle">#myHandle</div>
    <p>[handle]="myHandle"</p>
    <p>[ngDraggable] = {{ draggable }}</p>
    <p>[position] = {{ position === undefined ? 'undefined' : (position | json) }}</p>
    <p>[zIndex] = {{ zIndex === undefined ? 'undefined' : zIndex }}</p>
    <p>[zIndexMoving] = {{ zIndexMoving === undefined ? 'undefined' : zIndexMoving }}</p>
    <p>[preventDefaultEvent] = {{ preventDefaultEvent }}</p>
    <p>[trackPosition] = {{ trackPosition }}</p>
    <p>[lockAxis] = {{ lockAxis === undefined ? 'undefined' : lockAxis }}</p>
    Drag Me!
  </div>
  <div
    *ngSwitchCase="false"
    [ngDraggable]="draggable"
    [position]="position"
    [zIndex]="zIndex"
    [zIndexMoving]="zIndexMoving"
    [preventDefaultEvent]="preventDefaultEvent"
    [trackPosition]="trackPosition"
    [lockAxis]="lockAxis"
    class="drag-block-lg">
    <p>[ngDraggable] = {{ draggable }}</p>
    <p>[position] = {{ position === undefined ? 'undefined' : (position | json) }}</p>
    <p>[zIndex] = {{ zIndex === undefined ? 'undefined' : zIndex }}</p>
    <p>[zIndexMoving] = {{ zIndexMoving === undefined ? 'undefined' : zIndexMoving }}</p>
    <p>[preventDefaultEvent] = {{ preventDefaultEvent }}</p>
    <p>[trackPosition] = {{ trackPosition }}</p>
    <p>[lockAxis] = {{ lockAxis === undefined ? 'undefined' : lockAxis }}</p>
    Drag Me!
  </div>
</div>
<!-- DEMO END -->

<app-code-block [html]="html" [component]="component"></app-code-block>
