<div class="card card-accent-info">
  <div class="card-body">
    <h4 class="card-title">Events</h4>
    <div class="mt-4">
      <tabset>
        <tab heading="demo">
          <div class="row">
            <div class="col-sm-4">
              <div class="alert alert-secondary" role="alert">
                movingOffset: {{'{'}} x: {{movingOffset.x}}, y: {{movingOffset.y}} {{'}'}}
              </div>
              <div class="alert alert-secondary" role="alert">
                endOffset: {{'{'}} x: {{endOffset.x}}, y: {{endOffset.y}} {{'}'}}
              </div>
            </div>
            <div class="col-sm-8">
              <div ngDraggable class="drag-block" (started)="onStart($event)" (stopped)="onStop($event)" (movingOffset)="onMoving($event)"
                [preventDefaultEvent]="true" (endOffset)="onMoveEnd($event)">
                <p>Drag me</p>
                <p>check your console</p>
              </div>
            </div>
          </div>
        </tab>
        <tab heading="html">
          <markdown [data]="demo_html | language: 'html'"></markdown>
        </tab>
        <tab heading="component">
          <markdown [data]="demo_ts | language: 'typescript'"></markdown>
        </tab>
      </tabset>
    </div>
  </div>
</div>