<div class="row">
  <div class="col" style="min-height: 300px;">
    <div id="container" class="widget-container">
      <h4 class="widget-header">Containment</h4>
      <!-- rzContainment could be a CSS selector string, 'parent' or an Element object -->
      <div ngResizable [rzAspectRatio]="true" class="resizable-widget" rzContainment="#container" rzHandles="all">
        <h4 class="widget-header">Resizable</h4>
      </div>
    </div>
  </div>
</div>

<!-- Documents -->
<div class="row mt-4">
  <div class="col">
    <tabset>
      <tab heading="html">
        <markdown [data]="demo_html | language: 'html'"></markdown>
      </tab>
      <tab heading="component">
        <markdown [data]="demo_ts | language: 'typescript'"></markdown>
      </tab>
    </tabset>
  </div>
</div>