.grid-container {
  position: relative;
  height: 250px;
  width: 250px;
}

.drag-grid {
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: #f8cb00;
  color: white;
  line-height: 50px;
  text-align: center;
}

.grid {
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: #20c997;
  color: white;
  text-align: center;
  line-height: 50px;
  border: 1px dashed #067002;
}