<div class="card card-accent-info">
  <div class="card-body">
    <h4 class="card-title">Custom Options</h4>
    <div class="mt-4">
      <tabset>
        <tab heading="demo">
          <div class="row">
            <div class="col-sm-6">
              <p><button (click)="draggable = !draggable" class="btn btn-outline-primary">toggle [ngDraggable]</button></p>
              <p><button (click)="position = position ? undefined : {x: 50, y: 50}" class="btn btn-outline-primary">set [position]</button></p>
              <p><button (click)="useHandle = !useHandle" class="btn btn-outline-primary">toggle [handle]</button></p>
              <p><button (click)="zIndex = '1000'" class="btn btn-outline-primary">set [zIndex] to 1000</button></p>
              <p><button (click)="zIndexMoving = '99999'" class="btn btn-outline-primary">set [zIndexMoving] to 99999</button></p>
              <p><button (click)="preventDefaultEvent = !preventDefaultEvent" class="btn btn-outline-primary">toggle [preventDefaultEvent]</button></p>
              <p><button (click)="trackPosition = !trackPosition" class="btn btn-outline-primary">toggle [trackPosition]</button></p>
              <p><button (click)="lockAxis = lockAxis ? undefined : 'y'" class="btn btn-outline-primary">toggle [lockAxis]='y' </button></p>
            </div>
            <div class="col-sm-6">
              <div *ngIf="useHandle">
                <div
                  [ngDraggable]="draggable"
                  [position]="position"
                  [zIndex]="zIndex"
                  [zIndexMoving]="zIndexMoving"
                  [handle]="myHandle"
                  [preventDefaultEvent]="preventDefaultEvent"
                  [trackPosition]="trackPosition"
                  [lockAxis]="lockAxis"
                  class="drag-block-lg">
                  <div #myHandle class="drag-block-handle"> #myHandle </div>
                  <p>[handle]="myHandle"</p>
                  <p>[ngDraggable] = {{ draggable }}</p>
                  <p>[position] = {{ position === undefined ? 'undefined' : position | json }}</p>
                  <p>[zIndex] = {{ zIndex === undefined ? 'undefined' : zIndex }}</p>
                  <p>[zIndexMoving] = {{ zIndexMoving === undefined ? 'undefined' : zIndexMoving }}</p>
                  <p>[preventDefaultEvent] = {{ preventDefaultEvent }}</p>
                  <p>[trackPosition] = {{ trackPosition }}</p>
                  <p>[lockAxis] = {{ lockAxis === undefined ? 'undefined' : lockAxis }}</p>
                </div>
              </div>
              <div *ngIf="!useHandle">
                <div
                  [ngDraggable]="draggable"
                  [position]="position"
                  [zIndex]="zIndex"
                  [zIndexMoving]="zIndexMoving"
                  [preventDefaultEvent]="preventDefaultEvent"
                  [trackPosition]="trackPosition"
                  [lockAxis]="lockAxis"
                  class="drag-block-lg">
                  <p>[ngDraggable] = {{ draggable }}</p>
                  <p>[position] = {{ position === undefined ? 'undefined' : position | json }}</p>
                  <p>[zIndex] = {{ zIndex === undefined ? 'undefined' : zIndex }}</p>
                  <p>[zIndexMoving] = {{ zIndexMoving === undefined ? 'undefined' : zIndexMoving }}</p>
                  <p>[preventDefaultEvent] = {{ preventDefaultEvent }}</p>
                  <p>[trackPosition] = {{ trackPosition }}</p>
                  <p>[lockAxis] = {{ lockAxis === undefined ? 'undefined' : lockAxis }}</p>
                </div>
              </div>
            </div>
          </div>
        </tab>
        <tab heading="html">
          <markdown [data]="demo_html | language: 'html'"></markdown>
        </tab>
        <tab heading="component">
          <markdown [data]="demo_ts | language: 'typescript'"></markdown>
        </tab>
      </tabset>
    </div>
  </div>
</div>
