<section class="jumbotron text-center">
  <div class="container">
    <h1>
      <img src="assets/img/angular.svg" width="64px" height="64px">
      Angular2-Draggable
    </h1>
    <p>
      <img src="https://badge.fury.io/js/angular2-draggable.svg" alt="version">
      <img src="https://img.shields.io/npm/dm/angular2-draggable.svg" alt="downloads" class="ml-2">
    </p>
    <p class="lead text-muted">angular2-draggable has <strong class="text-danger">Angular</strong>(ver >= 4.x) directives that make the DOM element draggable and resizable</p>
    <p>
      <a href="https://xieziyu.github.io/angular2-draggable/api-doc" target="_blank" class="btn btn-outline-success"><i class="fa fa-book"></i> Documents</a>
      <a href="https://github.com/xieziyu/angular2-draggable" class="btn btn-outline-primary ml-2"><i class="fa fa-github"></i> Github</a>
    </p>
    <hr>
    <div class="mt-2">
      <markdown ngPreserveWhitespaces style="display: flex;justify-content: center;">
        | Directives | Demo |
        | ---------- | ---- |
        |`ngDraggable`  | [demo](#/draggable/usage/basic) |
        |`ngResizable`  | [demo](#/resizable/default) |
      </markdown>
    </div>
  </div>
</section>

<div class="container">
  <div class="row">
    <div class="col-md-6 mb-3">
      <h2><span class="fa fa-caret-right mr-2 text-primary"></span>Installation</h2>
      <markdown ngPreserveWhitespaces class="code-block-sm">
        ```bash
        # if you use npm
        npm install angular2-draggable --save
        
        # or if you use yarn
        yarn add angular2-draggable
        ```
      </markdown>
    </div>
    <div class="col-md-6 mb-3">
      <h2><span class="fa fa-caret-right mr-2 text-primary"></span>Import</h2>
      <markdown ngPreserveWhitespaces class="code-block-sm">
        ```diff
        + import {{'{'}} AngularDraggableModule } from 'angular2-draggable';

        @NgModule({{'{'}}
          imports: [
            ...,
        +    AngularDraggableModule
          ],
        })
        export class AppModule {{'{'}} }
        ```
      </markdown>
    </div>
    <div class="col-md-6 mb-3">
      <h2><span class="fa fa-caret-right mr-2 text-primary"></span>Draggable Usage</h2>
      <markdown class="code-block-sm" [data]="demo_html | language: 'html'"></markdown>
    </div>
    <div class="col-md-6 mb-3">
      <h2><span class="fa fa-caret-right mr-2 text-primary"></span>Resizable CSS</h2>
      <markdown ngPreserveWhitespaces class="code-block-sm">
        ```diff
        // angular.json
        "styles": [
            ...
        +   "node_modules/angular2-draggable/css/resizable.min.css"
        ]
        ```
      </markdown>
    </div>
    <div class="col-md-6 mb-3">
      <h2><span class="fa fa-caret-right mr-2 text-primary"></span>Resizable Usage</h2>
      <markdown class="code-block-sm" [data]="demo_rz_html | language: 'html'"></markdown>
    </div>
  </div>
</div>
