<div class="text-center">
  <h1>
    <img src="assets/img/angular.svg" alt="version" width="40px" />
    Angular2-Draggable
  </h1>
  <p>
    <img src="https://img.shields.io/npm/v/angular2-draggable.svg" alt="version" class="mr-2" />
    <img src="https://img.shields.io/npm/dm/angular2-draggable.svg" alt="downloads" />
  </p>
  <p class="lead text-muted">
    angular2-draggable >angular2-draggable has <strong class="text-danger">Angular</strong>(ver >=
    4.x) directives that make the DOM element draggable and resizable
  </p>
  <p>
    <a
      href="https://github.com/xieziyu/angular2-draggable"
      target="blank"
      nz-button
      nzType="primary"
      class="mr-2"
      ><i nz-icon nzType="github" nzTheme="outline"></i> GitHub</a
    >
    <a
      href="https://xieziyu.github.io/angular2-draggable/api-doc"
      target="blank"
      nz-button
      nzType="default"
      ><i nz-icon nzType="read" nzTheme="outline"></i> Documents</a
    >
  </p>
</div>

<div class="container">
  <div nz-row nzGutter="16">
    <div nz-col nzSpan="12">
      <markdown ngPreserveWhitespaces [data]="installText"></markdown>
    </div>
    <div nz-col nzSpan="12">
      <markdown ngPreserveWhitespaces [data]="importText"></markdown>
    </div>
  </div>
</div>
