<nz-page-header nzTitle="ngResizable">
  <nz-breadcrumb nz-page-header-breadcrumb>
    <nz-breadcrumb-item>
      <a routerLink="/welcome">Home</a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>Resizable</nz-breadcrumb-item>
  </nz-breadcrumb>
</nz-page-header>

<nz-divider></nz-divider>

<nz-tabset style="margin-top: 8px" [nzTabPosition]="'left'">
  <nz-tab nzTitle="Basic Usage">
    <ng-template nz-tab>
      <app-resizable-basic></app-resizable-basic>
    </ng-template>
  </nz-tab>
  <nz-tab nzTitle="Events">
    <ng-template nz-tab>
      <app-resizable-events></app-resizable-events>
    </ng-template>
  </nz-tab>
</nz-tabset>
