<div class="iframe-drag-bounds" #dragBounds>
  <div class="iframe-resize-container"
      ngResizable
      rzHandles="n,s,e,w,se,sw"
      ngDraggable
      [handle]="dragHandle"
      [bounds]="dragBounds"
      [inBounds]="true"
      [preventDefaultEvent]="true">
    <div #dragHandle class="iframe-drag-handle">
      <h6> Draggable & Resizable </h6>
    </div>
    <iframe src="assets/demo.pdf" scrolling="no" width="100%" class="iframe-content"></iframe>
  </div>
</div>


<!-- Documents -->
<div class="row mt-4">
  <div class="col">
    <tabset>
      <tab heading="html">
        <markdown [data]="demo_html | language: 'html'"></markdown>
      </tab>
      <tab heading="component">
        <markdown [data]="demo_ts | language: 'typescript'"></markdown>
      </tab>
      <tab heading="scss">
        <markdown [data]="demo_scss | language: 'sass'"></markdown>
      </tab>
    </tabset>
  </div>
</div>