<div class="card card-accent-info">
  <div class="card-body">
    <h4 class="card-title">Boundary Check</h4>
    <div class="mt-4">
      <tabset>
        <tab heading="demo">
          <div class="row">
            <div class="col-sm-4">
              <p><button (click)="inBounds = !inBounds" class="btn btn-outline-primary">toggle [inBounds]</button></p>
              <p><button (click)="outOfBounds('top')" class="btn btn-outline-primary">toggle [outOfBounds] top {{ myOutOfBounds.top ? ' (active)' : '' }}</button></p>
              <p><button (click)="outOfBounds('right')" class="btn btn-outline-primary">toggle [outOfBounds] right {{ myOutOfBounds.right ? ' (active)' : '' }}</button></p>
              <p><button (click)="outOfBounds('bottom')" class="btn btn-outline-primary">toggle [outOfBounds] bottom {{ myOutOfBounds.bottom ? ' (active)' : '' }}</button></p>
              <p><button (click)="outOfBounds('left')" class="btn btn-outline-primary">toggle [outOfBounds] left {{ myOutOfBounds.left ? ' (active)' : '' }}</button></p>
            </div>
            <div class="col-sm-8">
              <div class="drag-boundary" [ngClass]="{ 'top-b': !edge?.top, 'bottom-b': !edge?.bottom, 'left-b': !edge?.left, 'right-b': !edge?.right }" #myBounds>
                <p class="label">#myBounds</p>
                <div ngDraggable class="drag-block" (edge)="checkEdge($event)" [bounds]="myBounds" [inBounds]="inBounds" [outOfBounds]="myOutOfBounds">
                  <p>Drag me {{ inBounds?'in #myBounds':'' }}</p>
                  <p>check your console</p>
                </div>
              </div>
            </div>
          </div>
        </tab>
        <tab heading="html">
          <markdown [data]="demo_html | language: 'html'"></markdown>
        </tab>
        <tab heading="component">
          <markdown [data]="demo_ts | language: 'typescript'"></markdown>
        </tab>
      </tabset>
    </div>
  </div>
</div>