// Here you can add other styles
.tab-content {
  pre {
    max-height: 500px;
    overflow-y: auto;
  }
}

.code-block {
  pre {
    height: 250px;
    overflow-y: auto;
  }
}

.code-block-sm {
  pre {
    height: 200px;
    overflow-y: auto;
  }
}

.drag-block {
  width: 200px;
  height: 200px;
  background-color: $blue;
  color: white;
  padding: 75px 0px;
  line-height: 50px;
  text-align: center;
}

.drag-block-lg {
  width: 300px;
  height: 215px;
  background-color: $red;
  padding-top: 20px;
  color: white;
  text-align: center;
  overflow-y: auto;
}

.drag-block-handle {
  width: 100px;
  height: 43px;
  margin-top: -20px;
  padding-top: 10px;
  margin-bottom: 10px;
}

.ng-draggable {
  cursor: grab;
  background-color: $blue;
}

.ng-dragging {
  cursor: grabbing;
}

.drag-boundary {
  width: 400px;
  height: 400px;
  overflow: hidden;
  border: solid 1px $green;
  position: relative;

  .label {
    color: white;
    background-color: $green;
    width: 100px;
    text-align: center;
    right: 0px;
    position: absolute;
  }
}

.top-b {
  border-top-color: $red !important;
}

.bottom-b {
  border-bottom-color: $red !important;
}

.left-b {
  border-left-color: $red !important;
}

.right-b {
  border-right-color: $red !important;
}