.resizable-widget {
  width: 200px;
  height: 200px;
  background-color: $white;
  border: solid 1px $gray-400;
  padding: 0.5em;
  box-sizing: content-box;
}

.widget-header {
  text-align: center;
  border: 1px solid $gray-400;
  background: #e9e9e9;
  color: #333333;
  font-weight: bold;
  padding: 0.25em;
}

.widget-container {
  width: 300px;
  height: 300px;
  padding: 0.5em;
  background-color: $cyan;
  border: solid 1px $gray-400;
}